fastapi==0.115.5
uvicorn[standard]==0.32.1
langchain==0.3.7
langchain-google-genai==2.1.4
langchain-chroma==0.1.4
langchain-community==0.3.7
chromadb==0.5.20
python-dotenv==1.0.1
pydantic==2.9.2
google-genai==1.10.0
firebase-admin==6.6.0
openai==1.82.0
beautifulsoup4==4.12.3
lxml==5.3.0
httpx==0.28.1
python-multipart==0.0.20
docling
groq
deep-translator
Pillow
requests
